@import url(https://fonts.googleapis.com/css?family=Roboto);

html {
  padding-left: 15pt;
  padding-right: 10pt;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    max-width: 1200px;
    margin: auto;
    color: #333333;
}

a {
  text-decoration: none;
}

a:link {
  color: #1976d2;
}

a:visited {
  color: #7b1fa2;
}

a:hover, a:active {
  text-decoration: underline;
}

abbr {
  font-variant: none;
  color: #388e3c;
  cursor: pointer;
}

abbr:not(:focus) {
  cursor: pointer;
}

abbr:focus::after {
  cursor: auto;
  content: attr(title);
  display: inline-block;
  width: 100%;
  padding: 0.5em;
}
