body {
    margin-left: 15px;
}

abbr {
  font-variant: none;
  color: green;
  cursor: pointer;
}

abbr:not(:focus) {
  cursor: pointer;
}

abbr:focus::after {
  cursor: auto;
  content: attr(title);
  display: inline-block;
  width: 100%;
  padding: 0.5em;
}
