<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
    <h1>The developers of konrad</h1>
    <div><font size=5>
        We are PhD students, which means we get paid to study and do research,
        and one day we will be able to call ourselves doctors, even though we
        won't be qualified to help sick people.
    </font></div>
    <br />
    <h2>Our research</h2>
    <div><font size=5>
        We use konrad to study the climate and how it depends on different
        things.
        Lukas is interested in how the equilibrium surface temperature changes,
        when the amount of CO<sub>2</sub> in the atmosphere increases, and how that change
        depends on different assumptions about
        <abbr title="Water vapour is also a greenhouse gas, and it is expected that the amount of water vapour in the atmosphere will increase as the atmosphere warms.">water vapour</abbr>
        and
        <abbr title="The lapse rate is the rate of change of temperature with height.">lapse rate</abbr>
        changes, as well as changes in clouds.
        Sally studies the
        <abbr title="The atmospheric layer in the tropics between the troposphere, where the temperature decreases with height and the stratosphere, where the temperature increases with height.">tropical tropopause layer</abbr>
        and how it is influenced by ozone,
        <abbr title="There is a large scale circulation which brings air upwards from the troposphere through the tropopause and into the stratosphere in the tropics and downwards at the poles.">tropical upwelling</abbr>,
        convection and clouds.
    </font></div>
    <br />
    <div><font size=5>
    <p><a href="{{ url_for('hello') }}">Go back to read about konrad.</a></p>
    </font></div>
</body>
</html>