<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>The developers of konrad</h1>
    <div><font size=4>
        We are PhD students, which means we get paid to study and do research,
        and one day we will be able to call ourselves doctors, even though we
        won't be qualified to help sick people.
    </font></div>
    <br />
    <div><font size=5>
        We use konrad to study the climate and how it depends on different
        things.
        Lukas is interested in how the equilibrium surface temperature changes,
        when the amount of CO<sub>2</sub> in the atmosphere increases, and how that change
        depends on different assumptions about water vapour and
        <abbr title="The lapse rate is the rate of change of temperature with height." tabindex="-1">lapse rate</abbr>
        changes, as well as changes in clouds.
        Sally studies the
        <abbr title="The tropical tropopause layer is an atmospheric layer in the tropics between the troposphere, where the temperature decreases with height and the stratosphere, where the temperature increases with height." tabindex="-1">tropical tropopause layer</abbr>
        and how it is influenced by ozone,
        <abbr title="There is a large scale circulation which brings air upwards from the troposphere through the tropopause and into the stratosphere in the tropics and downwards at the poles." tabindex="-1">tropical upwelling</abbr>,
        convection and clouds.
    </font></div>
    <br />
    <div><font size=3>
        We are building on the work of many other people and are following
        their ideas.
        Konrad uses lots of
        <abbr title="code that is available for anyone to change or use for whatever they want" tabindex="-1">open source software</abbr>
        developed by other people, and we wouldn't be able to do our research
        without this.
    </font></div>
    <div><font size=5>
    <p><a href="{{ url_for('hello') }}">Go back to read about konrad.</a></p>
    </font></div>
</body>
</html>