<!DOCTYPE html>
<html lang="en" xmins="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CO<sub>2</sub> Experiment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h2>The greenhouse effect</h2>
    <font size=3><div>
        CO<sub>2</sub> is a greenhouse gas, which means that it absorbs and
        emits
        <abbr title="In climate science, longwave radiation describes the
        radiation emitted from the surface and the atmosphere, a lot of which
        is infrared." tabindex="-1">longwave radiation</abbr>.
        This stops some of the radiation from escaping to space, keeping the
        surface and
        <abbr title="the lowest layer of the atmosphere, where we live and where
        temperatures decrease with height" tabindex="-1">troposphere</abbr> warm.
        Atmospheric CO<sub>2</sub> concentrations have been
        increasing strongly since
        <abbr title="In climate science, 'pre-industrial' normally refers to the
        atmospheric state of 1850. The industrial revolution started about a
        hundred years before this in Britain, and it brought about many
        technological advancements. Initially its impact on the environment was
        small, but this grew over time and as industrialisation spread to other
        parts of the world." tabindex="-1">pre-industrial times</abbr>,
        when there were about 280
        <abbr title="parts per million by volume" tabindex="-1">ppmv</abbr>.
        This increases the greenhouse effect, causing an increase in the
        temperature of the surface and troposphere.
    </div><br />
    <div>
        Water vapour is also a greenhouse gas, so an increase in water vapour
        also causes surface and tropospheric warming.
        Moreover, as the atmosphere warms, the
        <abbr title="the maximum amount of water vapour that the atmosphere can contain" tabindex="-1">saturation humidity</abbr>
        increases.
        On average, the atmosphere is not saturated, but it is expected that
        the amount of water vapour in the troposphere will increase such that the
        <abbr title="a fraction of the saturation humidity" tabindex="-1">relative humidity</abbr>
        remains constant.
    </div><br />
    <div>
        As the troposphere warms, the change in temperature varies with height,
        so the
        <abbr title="around 10 km" tabindex="-1">upper troposphere</abbr>
        warms more than the surface.
        This variation influences both the greenhouse effect and humidity
        and this is known as the
        <abbr title="how quickly temperature decreases with increasing height"
              tabindex="-1">lapse rate</abbr>
        feedback.
        </div></font>
    <h1>Experiments</h1>
    <form method="post">
        <font size=5>
        <div>
            <label for="exp1">Increase CO<sub>2</sub></label>
            <select name="exp1">
                <option value="co2x2" {% if state.exp1 =='co2x2' %} SELECTED{% endif %}>two times</option>
                <option value="co2x4" {% if state.exp1 =='co2x4' %} SELECTED{% endif %}>four times</option>
            </select>
        </div>
        <div>
            <label for="exp2">Water vapour feedback</label>
            <select name="exp2">
                <option value="" {% if state.exp2 =='' %} SELECTED{% endif %}>on</option>
                <option value="_fvmr" {% if state.exp2 =='_fvmr' %} SELECTED{% endif %}>off</option>
            </select>
        </div>
        <div>
            <label for="exp3">Lapse rate feedback</label>
            <select name="exp3">
                <option value="" {% if state.exp3 =='' %} SELECTED{% endif %}>on</option>
                <option value="_flapse" {% if state.exp3 =='_flapse' %} SELECTED{% endif %}>off</option>
            </select>
        </div>
            {% include 'SelectOutput.html' %}
        <div>
            <button type="submit">Get results</button>
        </div>
        </font>
    </form>
    <div id="content">{% block content %}{% endblock %}</div>

</body>
</html>
