<!DOCTYPE html>
<html lang="en" xmins="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Convection Experiment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h2>Convection</h2>
    <font size=3><div>
        Convection is one of the main methods of heat transfer in the
        <abbr title="the lowest layer of the atmosphere, where clouds form and
        where temperature decreases with height" tabindex="-1">troposphere</abbr>.
        Warm <abbr title="containing water vapour" tabindex="-1">moist</abbr>
        air rises above cold dry air and the water vapour in the moist air
        <abrr title="turns from gas to liquid" tabindex="-1">condenses</abrr>
        to form droplets. Lots of droplets make a cloud. As water vapour
        condenses, it releases energy, which warms the air around it.
    </div><div>
        In konrad, convection takes energy from the surface and warms the
        atmosphere. If we stop convection in konrad, we will find radiative
        equilibrium.
    </div></font>
    <h1>Experiment</h1>
    <form method="post">
        <font size=5>
            {% include 'SelectOutput.html' %}
        <div>
            <button type="submit">Get results</button>
        </div>
        </font>
    </form>
<div id="content">{% block content %}{% endblock %}</div>

</body>
</html>