<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>Welcome to konrad</title>
    </head>
    <body>
        <h1>Konrad</h1>
        <div><font size=5>
            To learn about atmospheric processes and how they influence
            temperature, we can use climate models.
            Konrad is a single column model of the
            <abbr title="near the equator" tabindex="-1">tropical</abbr>
            atmosphere, from the surface upwards through the atmosphere.
            This kind of model is called a 1D Radiative-Convective Equilibrium
            (RCE) model, because the main processes involved are
            <abbr title="the reflection, absorption, transmission and
            scattering of light" tabindex="-1">radiative transfer</abbr>
            and
            <abbr title="the rising motion of warm low density air over colder
            denser air" tabindex="-1">convection</abbr>.
        </font></div>
        <img src="{{ url_for('static', filename='profile-with-background.png') }}" alt="This sentence should be a diagram of the atmosphere with height.">
        <img src="{{ url_for('static', filename='convection-and-radiation.png') }}" alt="Here should be a diagram of the radiative transfer and convection.">
        <div><font size=5>
            Many real world processes are missing from konrad, including
            cloud formation, winds and heat transport from the tropics to mid
            or high
            <abbr title="Latitude is an angle describing closeness to the
            equator. The tropics are at low latitudes, and the polar regions
            are at high latitudes." tabindex="-1">latitudes</abbr>.
            Despite this, we can still use konrad to learn some interesting
            things about the tropical atmosphere. For example, we can study
            how the temperature depends on different gases,
            <abbr title="the amount of sunlight" tabindex="-1">solar irradiance</abbr>,
            and convection.
        </font></div>
        <br />
        <div><font size=4>
            <a href=" {{ url_for('read_about_konrad') }} ">Read more about konrad</a>
        </font></div>
        <br />
        <div><font size=4>
            <a href=" {{ url_for('experiments') }} ">Start using konrad</a>
        </font></div>
        <br />
        <div><font size=4>
            <a href=" {{ url_for('about_us') }} ">About the developers</a>
        </font></div>
    </body>
</html>
