<!DOCTYPE html>
<html lang="en" xmins="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ozone Experiment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div>
        <img src="{{ url_for('static', filename='ozone.png') }}" align="right"
         alt="This sentence should be a diagram of an ozone molecule."
         style="width:163px;height:135px;"></div>
    <h2>Ozone</h2>
    <div>
        Ozone occurs naturally in the
        <abbr title="In the tropics, the stratosphere is between about 15 and
        50 km above the Earth's surface, but further from the equator it starts
        at around 10 km." tabindex="-1">stratosphere</abbr>,
        where it absorbs
        <abbr title="ultra-violet, light with wavelengths between about 10 and 400 nm" tabindex="-1">UV</abbr> radiation
        that would otherwise be harmful for life on Earth.
        All of the ozone in the atmosphere would make a layer just 3 mm
        thick at the surface, but even though there is not of it, it absorbs
        lots of radiation.
    </div>
    <br />
    <h1>Experiment - No Ozone</h1>
    <form method="post">
            {% include 'SelectOutput.html' %}
        <div>
            <button type="submit">Get results</button>
        </div>
    </form>
<div id="content">{% block content %}{% endblock %}</div>

</body>
</html>
