<!DOCTYPE html>
<html lang="en" xmins="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Model input</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h2>Some background information</h2>
    <font size=3><div>
        Atmospheric CO<sub>2</sub> concentrations have been
        increasing strongly since
        <abbr title="In climate science, 'pre-industrial' normally refers to the atmospheric state of 1850. The industrial revolution started about a hundred years before this in Britain, and it brought about many technological advancements. Initially its impact on the environment was small, but this grew over time and as industrialisation spread to other parts of the world." tabindex="-1">pre-industrial times</abbr>,
        when there were about 280
        <abbr title="parts per million by volume" tabindex="-1">ppmv</abbr>.
        CO<sub>2</sub> is a greenhouse gas, which means that it absorbs and
        emits
        <abbr title="In climate science, longwave radiation describes the radiation emitted from the surface and the atmosphere, a lot of which is infrared." tabindex="-1">longwave radiation</abbr>.
        This stops some of the radiation from escaping to space and causes the
        surface and troposphere to warm.
    </div><br />
    <div>
        Water vapour is also a greenhouse gas, so an increase in water vapour
        also causes surface and tropospheric warming.
        Moreover, as the atmosphere warms, the
        <abbr title="the maximum amount of water vapour that the atmosphere can contain" tabindex="-1">saturation humidity</abbr>
        increases.
        On average, the atmosphere is not saturated, but it is expected that
        the amount of water vapour in the troposphere will increase such that the
        <abbr title="a fraction of the saturation humidity" tabindex="-1">relative humidity</abbr>
        remains constant.
    </div></font>
    <h1>Model input</h1>
    <form method="post">
        <font size=5>
        <div>
            <label for="CO2">CO<sub>2</sub> concentration [ppmv]</label>
            <select name="CO2">
                {% for co2 in co2_options %}
                <option value="{{co2}}" {% if co2 == state.co2 %}selected{% endif %}>{{co2}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="humidity">Humidity treatment</label>
            <select name="humidity">
                <option value="rh">fixed relative humidity</option>
                <option value="280vmr">pre-industrial humidity</option>
            </select>
        </div>
        <div>
            <label for="albedo">Surface albedo</label>
            <select name="albedo">
                <option value="0.2">0.2 (grass)</option>
                <option value="0.07">0.07 (ocean)</option>
            </select>
        </div>

        <div>
            <label for="comparison">Compare results with</label>
            <select name="comparison">
                <option value="none">None</option>
                <option value="pi">pre-industrial</option>
                <option value="present">present day</option>
            </select>
        </div>
        <div>
            <button type="submit">Get results</button>
        </div>
        </font>
        <div id="content">{% block content %}{% endblock %}</div>
    </form>

</body>
</html>