<!DOCTYPE html>
<html lang="en" xmins="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Model input</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h2>Some background information</h2>
    <font size=3><div>
        Atmospheric CO<sub>2</sub> concentrations have been
        increasing strongly since
        <abbr title="In climate science, 'pre-industrial' normally refers to the atmospheric state of 1850. The industrial revolution started about a hundred years before this in Britain, and it brought about many technological advancements. Initially its impact on the environment was small, but this grew over time and as industrialisation spread to other parts of the world." tabindex="-1">pre-industrial times</abbr>,
        when there were about 280
        <abbr title="parts per million by volume" tabindex="-1">ppmv</abbr>.
        CO<sub>2</sub> is a greenhouse gas, which means that it absorbs and
        emits
        <abbr title="In climate science, longwave radiation describes the radiation emitted from the surface and the atmosphere, a lot of which is infrared." tabindex="-1">longwave radiation</abbr>.
        This stops some of the radiation from escaping to space and causes the
        surface and troposphere to warm.
    </div><br />
    <div>
        Water vapour is also a greenhouse gas, so an increase in water vapour
        also causes surface and tropospheric warming.
        Moreover, as the atmosphere warms, the
        <abbr title="the maximum amount of water vapour that the atmosphere can contain" tabindex="-1">saturation humidity</abbr>
        increases.
        On average, the atmosphere is not saturated, but it is expected that
        the amount of water vapour in the troposphere will increase such that the
        <abbr title="a fraction of the saturation humidity" tabindex="-1">relative humidity</abbr>
        remains constant.
    </div></font>
    <h1>Experiments</h1>
    <form method="post">
        <font size=5>
        <div>
            <label for="exp">Select experiment</label>
            <select name="exp">
                <option value="noconv" {% if state.exp =='noconv' %} SELECTED{% endif %}>No convection</option>
                <option value="co2x2" {% if state.exp =='co2x2' %} SELECTED{% endif %}>Double CO<sub>2</sub></option>
                <option value="co2x4" {% if state.exp =='co2x4' %} SELECTED{% endif %}>Quadruple CO<sub>2</sub></option>
                <option value="ozone" {% if state.exp =='ozone' %} SELECTED{% endif %}>No ozone</option>
                <option value="upwelling025" {% if state.exp =='upwelling025' %} SELECTED{% endif %}>Upwelling</option>
                <option value="lapse65" {% if state.exp =='lapse65' %} SELECTED{% endif %}>Fixed lapse rate</option>
            </select>
        </div>
        <div>
            <label for="output">Select output</label>
            <select name="output">
                <option value="T" {% if state.output =='T' %} SELECTED{% endif %}>Temperature [K]</option>
                <option value="T_C" {% if state.output =='T_C' %} SELECTED{% endif %}>Temperature [Celcius]</option>
                <option value="radlw" {% if state.output =='radlw' %} SELECTED{% endif %}>Longwave radiative heating</option>
                <option value="radsw" {% if state.output =='radsw' %} SELECTED{% endif %}>Shortwave radiative heating</option>
                <option value="conv" {% if state.output =='conv' %} SELECTED{% endif %}>Convective heating</option>
            </select>
        </div>

        <div>
            <button type="submit">Get results</button>
        </div>
        </font>
        <div id="content">{% block content %}{% endblock %}</div>
    </form>

</body>
</html>
