<!DOCTYPE html>
<html lang="en" xmins="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Model input</title>
    <style>
        body {background-color: #000000;
              color: #f2f2f2;}
        a:link {color: #99ccff;}
        a:visited {color: #dd99ff;}
    </style>
</head>
<body>
    <h2>Please input values</h2>
    <form method="post">
        <div>
            <label for="CO2">CO2 concentration [ppmv]</label>
            <input name="CO2" type="text" />
        </div>

        <div>
            <label for="comparison">Compare results with</label>
            <select name="comparison">
                <option value="none">None</option>
                <option value="pi">pre-industrial</option>
                <option value="present">present day</option>
            </select>
        </div>

        <button type="submit">Get results</button>
    </form>

</body>
</html>